<article class="card">
  <div class="card-body">
    <h5 class="card-title"><%= link_to 'お知らせ', infomations_path, class: 'text-dark' %></h5>
    <ul class="list-group">
<% @new_infomations.each do |new_infomation| %>
      <li class="list-group-item">
        <div>
          <span class="fw-bolder">
<% if new_infomation.body.present? %>
            <%= link_to new_infomation.title, infomation_path(new_infomation) %>
<% else %>
            <%= new_infomation.title %>
<% end %>
          </span>
          (<%= l(new_infomation.started_at.to_date) %>)
        </div>
<% if new_infomation.summary.present? %>
        <div class="fw-light">
          <%= new_infomation.summary.html_safe %>
        </div>
<% end %>
      </li>
<% end %>
    </ul>
<% if @new_infomations.total_pages > 1 %>
    <nav>
      <%= link_to 'もっと見る', infomations_path, class: 'btn btn-info btn-rounded btn-sm m-2' %>
    </nav>
<% end %>
  </div>
</article>
