<main>
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-1">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item dropdown d-flex align-items-center">
          <%= link_to (image_tag @request_space.image_url(:small)).html_safe, root_path %>&nbsp;
          <a class="dropdown-toggle nav-link" href="#" id="JoinSpaceMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false"><%= @request_space.name %></a>&nbsp;
          <%= public_icon_tag(@request_space.public_flag).html_safe %>&nbsp;
          <ul class="dropdown-menu" aria-labelledby="JoinSpaceMenuLink">
<% if @join_spaces.present? %>
<% @join_spaces.each do |join_space| %>
            <li>
              <%= link_to (image_tag join_space.image_url(:small)).html_safe + ' ' + join_space.name + ' ' + public_icon_tag(join_space.public_flag).html_safe, "//#{join_space.subdomain}.#{Settings['base_domain']}", class: 'dropdown-item' %>
            </li>
<% end %>
            <li><hr class="dropdown-divider" /></li>
<% if @join_spaces.total_pages > 1 %>
            <li><%= link_to 'もっと見る', "//#{Settings['base_domain']}#{spaces_path}", class: 'dropdown-item' %></li>
<% end %>
<% end %>
            <li><%= link_to '公開スペース一覧', "//#{Settings['base_domain']}#{public_spaces_path}", class: 'dropdown-item' %></li>
          </ul>
        </li>
        <li class="nav-item d-flex align-items-center">
          <p class="alert alert-white small m-0 p-2"><%= @request_space.purpose %></p>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 px-0">
      </div>
      <div class="col-sm-6 px-0">
        <%= render 'manage_space' if @member.present? && @member.first.space_update_power? %>
        <%= render 'infomations' if @infomations.present? %>
      </div>
    </div>
  </div>
</main>
