<main>
  <div class="text-center py-2" style="background-color: #F0F2F5;">  
    <h1 class="h4 fw-bold my-2">＜サービスコンセプト＞</h1>
    <p class="mb-2">＜サービス説明＞</p>
    <%= link_to 'サービス概要', "#{t('my_url')}/summary", target: :_blank, rel: [:noopener, :noreferrer], class: 'btn btn-info btn-lg m-1 mb-2 px-3', role: 'button' %>
    <%= link_to '料金プラン', "#{t('my_url')}/plan", target: :_blank, rel: [:noopener, :noreferrer], class: 'btn btn-info btn-lg m-1 mb-2 px-3', role: 'button' %>
    <%= link_to 'お問い合わせ', "#{t('my_url')}/contact", target: :_blank, rel: [:noopener, :noreferrer], class: 'btn btn-dark btn-lg m-1 mb-2 px-3', role: 'button' %>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6" style="padding-left: 0px; padding-right: 0px">
        <%= render 'sign_up' unless user_signed_in? %>
      </div>
      <div class="col-sm-6" style="padding-left: 0px; padding-right: 0px">
        <%= render 'new_infomations' if @new_infomations.present? %>
      </div>
    </div>
  </div>
</main>
