<% if @new_infomations.present? %>
<h3>新しいお知らせ</h3>
<ul>
<% @new_infomations.each do |new_infomation| %>
  <li>
<% if new_infomation.body.present? %>
    <p><%= link_to new_infomation.title, new_infomation %> (<%= l(new_infomation.started_at.to_date) %>)</p>
<% else %>
    <p><%= new_infomation.title %> (<%= l(new_infomation.started_at.to_date) %>)</p>
<% end %>
<% if new_infomation.summary.present? %>
    <p><%= new_infomation.summary.html_safe %></p>
<% end %>
  </li>
<% end %>
</ul>
<% if @new_infomations.total_pages > 1 %>
<p><%= link_to 'もっと見る', infomations_path %></p>
<% end %>
<% end %>
