<div class="table-responsive">
  <table class="table table-sm table-hover table_downloads">
    <thead class="table-light">
      <tr>
        <th scope="col" class="text-nowrap">
          依頼日時
          <i class="fas fa-sort-down"></i>
        </th>
        <th scope="col" class="text-nowrap">ステータス</th>
        <th scope="col" class="text-nowrap">ファイル</th>
        <th scope="col" class="text-nowrap d-none d-md-block">対象・形式等</th>
      </tr>
    </thead>
    <tbody>
<% @downloads.each do |download| %>
      <tr class="align-middl<%= download_class_name(download) %>">
        <%# 依頼日時 %>
        <td scope="row" class="text-nowrap px-1 py-2">
          <%= l(download.requested_at) %>
        </td>
        <%# ステータス %>
        <td class="text-nowrap text-center px-1 py-2">
<% if download.status.to_sym == :success %>
          <i class="fas fa-check-circle text-success"></i>
<% elsif download.status.to_sym == :failure %>
          <i class="fas fa-exclamation-triangle text-danger"></i>
<% else %>
          <i class="fas fa-info-circle text-info"></i>
<% end %>
          <%= download.status_i18n %>
        </td>
        <%# ファイル %>
        <td class="text-nowrap px-1 py-2">
<% if download.status.to_sym == :success %>
    		  <a href="<%= file_download_path(download.id) %>" target="_blank" rel="noopener noreferrer" class="<%= 'click_to_sleep_reload' if download.last_downloaded_at.blank? %>">
            <i class="fas fa-download text-body"></i>
            ダウンロード
          </a>
<% if download.last_downloaded_at.present? %>
          <div>（済み）</div>
<% end %>
<% end %>
        </td>
        <%# 対象・形式等 %>
        <td class="d-none d-md-block px-1 py-2">
<% if download.model.to_sym == :member %>
          <%= text_truncate(download.space.name, 64) %>のメンバー
<% else %>
          <%= download.model_i18n %>
<% end %>
          <div><%= download.target_i18n %>, <%= download.format_i18n %>, <%= download.char_code_i18n %>, <%= download.newline_code_i18n %></div>
        </td>
      </tr>
<% end %>
    </tbody>
  </table>
</div>
