<% content_for(:html_title) { 'ダウンロード結果' } %>

<div class="card card-body mb-2">
  <h5 class="card-title mb-3">ダウンロード結果</h5>
  <div class="card-text">
<% if @downloads.present? %>
    <div class="row">
      <div class="col-md-5 d-flex align-items-center">
        <%= page_entries_info @downloads %>
      </div>
      <div class="col-md-7">
        <div class="float-end">
          <a href="<%= downloads_path(id: params[:id]) %>" class="btn btn-dark">
            <i class="fas fa-sync" data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="更新"></i>
          </a>
        </div>
        <div class="float-end table-responsive">
          <%= paginate @downloads %>
        </div>
      </div>
    </div>
<% end %>

<% if @downloads.blank? %>
    <hr/>
    <article>
      対象が見つかりません。
      <hr/>
    </article>
<% else %>
    <hr class="my-2" />
    <%= render 'lists' %>
<% end %>

    <div class="d-flex justify-content-center table-responsive">
      <%= paginate @downloads %>
    </div>
  </div>
</div>
