<%= render 'admin_users/shared/alert_messages', messages: resource.errors[:confirmation_token] %>

<h2>メールアドレス確認メール再送</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }, local: true) do |form| %>
  <%= render 'admin_users/shared/error_messages', resource: resource unless resource.errors[:confirmation_token].any? %>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, autofocus: true, autocomplete: 'email', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    <%= render 'admin_users/shared/field_error_messages', messages: resource.errors[:email] %>
  </div>

  <div class="actions">
    <%= form.submit "送信" %>
  </div>
<% end %>

<%= render 'admin_users/shared/links' %>
