<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, novalidate: true }, local: true) do |form| %>
  <div class="form-outline<%= input_size_class_name(resource, :email) %>">
    <%= form.email_field :email, autocomplete: 'email', class: "form-control#{validate_class_name(true, resource, :email)}" %>
    <%= form.label 'メールアドレス', class: 'form-label', for: 'admin_user_email' %>
    <%= render 'admin_users/shared/field_error_messages', messages: resource.errors[:email] %>
  </div>

  <%= form.submit '送信', class: 'btn btn-primary' %>
<% end %>
