<h2>アカウント登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "admin_users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %> <em>(必須)</em><br/>
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    <%= render "admin_users/shared/field_error_messages", messages: resource.errors[:name] %>
  </div>

  <div class="field">
    <%= f.label :email %> <em>(必須)</em><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <%= render "admin_users/shared/field_error_messages", messages: resource.errors[:email] %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(必須、<%= @minimum_password_length %>文字以上)</em><br/>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>
    <%= render "admin_users/shared/field_error_messages", messages: resource.errors[:password] %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %> <em>(必須)</em><br/>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    <%= render "admin_users/shared/field_error_messages", messages: resource.errors[:password_confirmation] %>
  </div>

  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>

<%= render "admin_users/shared/links" %>
