<% validate_enabled = @space.errors.any? %>
<%= form_with(model: @space, url: update_space_path(@space.code), html: { method: :post, novalidate: true, autocomplete: 'on' }, local: true) do |form| %>
  <div class="row">
    <div class="col-md-2 text-md-end mt-1">
      <%= form.label :created_at, '作成', class: "form-label" %>
    </div>
    <div class="col-md-10">
      <%= l(@space.created_at) %>
      <span class="ms-2">
        <%= render './users/avatar', user: @space.created_user, present: @space.created_user_id.present? %>
      </span>
    </div>
  </div>

<% if @space.last_updated_at.present? || @space.last_updated_user.present? %>
  <div class="row">
    <div class="col-md-2 text-md-end mt-1">
      <%= form.label :last_updated_at, '更新', class: "form-label" %>
    </div>
    <div class="col-md-10 mb-2">
      <%= l(@space.last_updated_at, default: 'N/A') %>
      <span class="ms-2">
        <%= render './users/avatar', user: @space.last_updated_user, present: @space.last_updated_user_id.present? %>
      </span>
    </div>
  </div>
<% end %>

  <div class="row">
    <div class="col-md-2 text-md-end mt-1">
      <%= form.label :name, '名称', class: "form-label" %> <span style="color: red">*</span>
    </div>
    <div class="col-md-10">
      <div class="<%= input_size_class_name(@space, :name) %>">
        <%= form.text_field :name, placeholder: 'スペース名を入力', autocomplete: 'off', class: "form-control#{validate_class_name(validate_enabled, @space, :name)}" %>
        <%= render './users/shared/field_error_messages', messages:  @space.errors[:name] %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 text-md-end mt-1">
      <%= form.label :description, '説明', class: "form-label" %>
    </div>
    <div class="col-md-10">
      <div class="<%= input_size_class_name(@space, :description) %>">
        <%= form.text_area :description, placeholder: 'スペースの説明を入力', rows: 5, class: "form-control#{validate_class_name(validate_enabled, @space, :description)}" %>
        <%= render './users/shared/field_error_messages', messages: @space.errors[:description] %>
      </div>
    </div>
  </div>

<% if Settings.enable_public_space %>
  <div class="row">
    <div class="col-md-2 text-md-end mt-1">
      <%= form.label :private, '表示', class: "form-label" %> <span style="color: red">*</span>
    </div>
    <div class="col-md-10">
      <div class="<%= input_size_class_name_vertical(validate_enabled, @space, :private) %>">
        <div class="form-check form-check-inline<%= validate_class_name(validate_enabled, @space, :private) %>">
          <%= form.radio_button :private, false, class: "form-check-input#{validate_class_name(validate_enabled, @space, :private)}" %>
          <%= form.label false, '誰でも表示できる（公開）', class: 'form-check-label', for: "space_private_false" %>
        </div>
        <div class="form-check form-check-inline<%= validate_class_name(validate_enabled, @space, :private) %>">
          <%= form.radio_button :private, true, class: "form-check-input#{validate_class_name(validate_enabled, @space, :private)}" %>
          <%= form.label true, 'メンバーのみ表示できる（非公開）', class: 'form-check-label', for: "space_private_true" %>
        </div>
        <%= render './users/shared/field_error_messages', messages: @space.errors[:private] %>
      </div>
    </div>
  </div>
<% end %>

  <div class="row">
    <div class="col-md-2 text-md-end mt-3">
      <%= form.label :image, '画像', class: "form-label" %>
    </div>
    <div class="col-md-10">
      <div class="d-flex align-items-center pb-1">
        <%= image_tag @space.image_url(:medium), class: 'rounded-circle' %>
<% if @space.image? %>
        <div class="form-check ms-3 mb-0">
          <%= form.check_box :image_delete, class: 'form-check-input' %>
          <%= form.label :image_delete, '削除（初期画像に戻す）', class: 'form-check-label', for: 'space_image_delete' %>
        </div>
<% end %>
      </div>
      <div class="<%= input_size_class_name(@space, :image) %>">
        <%= form.file_field :image, class: "form-control#{validate_class_name(validate_enabled, @space, :image)}" %>
        <%= render './users/shared/field_error_messages', messages: @space.errors[:image] %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <%= form.submit '変更', type: 'button', onclick: 'submit()', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
