<%= form_with(url: spaces_path, html: { method: :get, novalidate: true }, local: true) do |form| %>
  <div class="d-flex align-items-center">
    <div class="form-outline" style="width: 57%; max-width: 400px">
      <%= form.text_field :text, class: 'form-control input_to_search_btn_enabled', value: @text %>
      <%= form.label '検索', class: 'form-label' %>
    </div>
    <button id="search_btn" type="submit" class="btn btn-primary m-1" disabled>
      <i class="fas fa-search"></i>
    </button>
<% if user_signed_in? %>
    <%= form.hidden_field :option, value: @option ? 1 : '' %>
    <button
      id="option_btn"
      class="btn btn-light btn-rounded d-flex m-1"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#searchCollapse"
      aria-expanded="<%= @option %>"
      aria-controls="searchCollapse"
    >
      <i id="option_open" class="fas fa-caret-down fa-lg m-1" style="display: <%= @option ? 'none' : 'block' %>"></i>
      <i id="option_close" class="fas fa-caret-up fa-lg m-1"  style="display: <%= @option ? 'block' : 'none' %>"></i>
      <span class="d-none d-md-block">検索オプション</span>
    </button>
<% end %>
  </div>
<% if user_signed_in? %>
  <div id="searchCollapse" class="collapse mt-2<%= ' show' if @option %>">
    <div class="row">
      <div class="col">
        <div class="form-check">
          <%= form.check_box :exclude_member_space, checked: @exclude_member_space, include_hidden: false, class: 'form-check-input click_to_search_btn_enabled' %>
          <%= form.label '参加スペースを除く', class: 'form-check-label', for: 'exclude_member_space' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% end %>
