<%= form_with(url: spaces_path, html: { method: :get, novalidate: true, autocomplete: 'on' }, local: true) do |form| %>
  <div class="d-flex align-items-center">
    <div class="form-outline" style="width: 57%; max-width: 400px">
      <%= form.text_field :text, autocomplete: 'on', class: 'form-control input_to_search_btn_enabled', value: @text, placeholder: '名称や説明を入力' %>
      <%= form.label :text, '検索', class: 'form-label' %>
    </div>
    <button id="search_btn" type="submit" class="btn btn-primary m-1" disabled>
      <i class="fas fa-search"></i>
    </button>
<% if user_signed_in? %>
    <%= form.hidden_field :option, value: @option ? 1 : '' %>
    <button
      id="option_btn"
      type="button"
      class="btn btn-light btn-rounded d-flex m-1"
      data-mdb-toggle="collapse"
      data-mdb-target="#searchCollapse"
      aria-expanded="<%= @option %>"
      aria-controls="searchCollapse"
    >
      <i id="option_open" class="fas fa-caret-down fa-lg m-1" style="display: <%= @option ? 'none' : 'block' %>"></i>
      <i id="option_close" class="fas fa-caret-up fa-lg m-1"  style="display: <%= @option ? 'block' : 'none' %>"></i>
      <span class="d-none d-md-block">検索オプション</span>
    </button>
<% end %>
  </div>
<% if user_signed_in? %>
  <div id="searchCollapse" class="collapse<%= ' show' if @option %>">
    <div class="row">
<% if Settings['enable_public_space'] %>
      <div class="col-auto d-flex mt-2">
        <div class="form-check">
          <%= form.check_box :public, checked: @checked[:public], class: 'form-check-input click_to_search_btn_enabled' %>
          <%= form.label :public, '公開', class: 'form-check-label', for: 'public' %>
        </div>
        <div class="form-check ms-2">
          <%= form.check_box :private, checked: @checked[:private], class: 'form-check-input click_to_search_btn_enabled' %>
          <%= form.label :private, '非公開', class: 'form-check-label', for: 'private' %>
        </div>
      </div>
      <div class="col-auto d-flex mt-2">
        <div class="form-check">
          <%= form.check_box :join, checked: @checked[:join], class: 'form-check-input click_to_search_btn_enabled' %>
          <%= form.label :join, '参加', class: 'form-check-label', for: 'join' %>
        </div>
        <div class="form-check ms-2">
          <%= form.check_box :nojoin, checked: @checked[:nojoin], class: 'form-check-input click_to_search_btn_enabled' %>
          <%= form.label :nojoin, '未参加', class: 'form-check-label', for: 'nojoin' %>
        </div>
      </div>
<% end %>
      <div class="col-auto d-flex mt-2">
        <div class="form-check">
          <%= form.check_box :active, checked: @checked[:active], class: 'form-check-input click_to_search_btn_enabled' %>
          <%= form.label :active, '有効', class: 'form-check-label', for: 'active' %>
        </div>
        <div class="form-check ms-2">
          <%= form.check_box :destroy, checked: @checked[:destroy], class: 'form-check-input click_to_search_btn_enabled' %>
          <%= form.label :destroy, '削除予定', class: 'form-check-label', for: 'destroy' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% end %>
