<h2>スペース一覧</h2>

<p><%= page_entries_info @spaces %></p>
<% if @spaces.present? %>
<p><%= paginate @spaces %></p>
<table>
  <thead>
    <tr>
      <th>サブドメイン</th>
      <th>スペース名</th>
      <th>作成日▼</th>
    </tr>
  </thead>
  <tbody>
<% @spaces.each do |space| %>
    <tr>
      <td><%= space.subdomain %></td>
      <td><%= link_to space.name, "//#{space.subdomain}.#{Settings['base_domain']}" %></td>
      <td><%= l(space.created_at.to_date) %></td>
    </tr>
<% end %>
  </tbody>
</table>
<p><%= paginate @spaces %></p>
<% end %>

<p><%= link_to 'スペース作成', new_space_path %></p>
