<main class="container">
  <h3 class="pt-3">スペース一覧</h3>

  <ul class="nav nav-tabs mb-2">
    <li class="nav-item"><div class="nav-link active">参加スペース</div></li>
    <li class="nav-item"><%= link_to '公開スペース', public_spaces_path, class: 'nav-link' %></li>
  </ul>

  <div class="row">
    <div class="col">
      <div class="float-end"><%= link_to 'スペース作成', new_space_path, class: 'btn btn-info btn-rounded mb-1' %></div>
    </div>
  </div>

<% if @spaces.present? %>
  <div class="row">
    <div class="col-sm-5 d-flex align-items-center">
      <%= page_entries_info @spaces %>
    </div>
    <div class="col-sm-7">
      <div class="float-sm-end"><%= paginate @spaces %></div>
    </div>
  </div>
<% end %>

  <div class="table-responsive">
    <table class="table table-sm align-middle">
      <thead>
        <tr>
          <th scope="col" class="text-center" width="1%" nowrap>公開</th>
          <th scope="col" nowrap>スペース名 <wbr>(サブドメイン)</th>
          <th scope="col" nowrap>組織・団体名 <wbr>(顧客コード)</th>
          <th scope="col" nowrap>作成日▲</th>
        </tr>
      </thead>
      <tbody>
<% if @spaces.blank? %>
        <tr>
          <td scope="row" colspan="4" class="text-center">参加スペースがありません。</td>
        </tr>
<% end %>
<% @spaces.each do |space| %>
        <tr>
          <td scope="row" class="text-center" nowrap>
<% if space.public_flag %>
            <i class="fas fa-check text-warning"></i>
<% else %>
            -
<% end %>
          </td>
          <td nowrap>
            <%= link_to (image_tag space.image_url(:small)).html_safe + ' ' + space.name, "//#{space.subdomain}.#{Settings['base_domain']}" %>
            <wbr>(<%= space.subdomain %>)
          </td>
          <td nowrap>
            <%= link_to space.customer.name, customer_path(space.customer.code) %>
            <wbr>(<%= space.customer.code %>)
          </td>
          <td nowrap>
            <%= l(space.created_at.to_date) %>
<% if space.customer.member.first.update_power? %>
            <wbr><%= link_to '変更', "//#{space.subdomain}.#{Settings['base_domain']}#{edit_space_path}", class: 'btn btn-outline-warning btn-rounded btn-sm float-end' %>
<% end %>
          </td>
        </tr>
<% end %>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col">
      <div class="float-sm-end"><%= paginate @spaces %></div>
    </div>
  </div>
</main>
