<main class="container">
  <h3 class="pt-3">スペース一覧</h3>

  <div class="row mb-1">
    <div class="col-sm-11 mb-1">
      <ul class="nav nav-tabs">
        <li class="nav-item text-nowrap"><%= link_to '参加スペース', spaces_path, class: 'nav-link' %></li>
        <li class="nav-item text-nowrap"><div class="nav-link active">公開スペース</div></li>
      </ul>
    </div>
    <div class="col-sm-1">
      <div class="float-end text-nowrap"><%= link_to 'スペース作成', new_space_path, class: 'btn btn-outline-dark btn-rounded btn-sm' %></div>
    </div>
  </div>

<% if @spaces.present? %>
  <div class="row">
    <div class="col-sm-5 d-flex align-items-center">
      <%= page_entries_info @spaces %>
    </div>
    <div class="col-sm-7">
      <div class="float-sm-end"><%= paginate @spaces %></div>
    </div>
  </div>
<% end %>

  <div class="table-responsive">
    <table class="table table-sm align-middle">
      <thead>
        <tr>
          <th scope="col" nowrap>スペース名 <wbr>(サブドメイン)</th>
          <th scope="col" nowrap>目的</th>
          <th scope="col" nowrap>作成日▼</th>
        </tr>
      </thead>
      <tbody>
<% if @spaces.blank? %>
        <tr>
          <td scope="row" colspan="3" class="text-center">公開スペースがありません。</td>
        </tr>
<% end %>
<% @spaces.each do |space| %>
        <tr>
          <td nowrap>
            <%= link_to (image_tag space.image_url(:small)).html_safe + ' ' + space.name, "//#{space.subdomain}.#{Settings['base_domain']}" %>
            <wbr>(<%= space.subdomain %>) <%= public_icon_tag(space.public_flag).html_safe %>
          </td>
          <td>
            <%= space.purpose %>
          </td>
          <td nowrap>
            <%= l(space.created_at.to_date) %>
          </td>
        </tr>
<% end %>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col">
      <div class="float-sm-end"><%= paginate @spaces %></div>
    </div>
  </div>
</main>
