<main class="container">
  <h3 class="pt-3">スペース一覧（β版）</h3>

  <div class="row">
    <div class="col">
      <div class="float-end"><%= link_to 'スペース作成', new_space_path, class: 'btn btn-info btn-rounded mb-1' %></div>
    </div>
  </div>

<% if @spaces.present? %>
  <div class="row">
    <div class="col-sm-5 d-flex align-items-center">
      <%= page_entries_info @spaces %>
    </div>
    <div class="col-sm-7">
      <div class="float-sm-end"><%= paginate @spaces %></div>
    </div>
  </div>
<% end %>

  <div class="table-responsive">
    <table class="table table-sm align-middle">
      <thead>
        <tr>
          <th scope="col" nowrap>スペース名 <wbr>(サブドメイン)</th>
          <th scope="col" nowrap>顧客名 <wbr>(コード)</th>
          <th scope="col" nowrap>作成日▼</th>
        </tr>
      </thead>
      <tbody>
<% if @spaces.blank? %>
        <tr>
          <td scope="row" colspan="3" class="text-center">スペースがありません。</td>
        </tr>
<% end %>
<% @spaces.each do |space| %>
        <tr>
          <td scope="row" nowrap><%= link_to space.name, "//#{space.subdomain}.#{Settings['base_domain']}" %> <wbr>(<%= space.subdomain %>)</td>
          <td nowrap><%= link_to space.customer.name, customer_path(space.customer.code) %> <wbr>(<%= space.customer.code %>)</td>
          <td nowrap><%= l(space.created_at.to_date) %> <wbr><%= link_to '変更', "//#{space.subdomain}.#{Settings['base_domain']}#{edit_space_path}", class: 'btn btn-outline-warning btn-rounded btn-sm float-end' %></td>
        </tr>
<% end %>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col">
      <div class="float-sm-end"><%= paginate @spaces %></div>
    </div>
  </div>

  <hr/>
  <%= render 'links' %>
</main>
