<% content_for(:html_title) { 'スペース' } %>

<div class="card card-body mb-2">
  <h5 class="card-title mb-3">スペース</h5>
  <div class="card-text">
    <%= render 'search' %>
  </div>
</div>

<div class="card card-body mb-2">
  <div class="card-text">
<% if @spaces.present? %>
    <div class="row">
      <div class="col-md-5 d-flex align-items-center">
        <%= page_entries_info @spaces %>
      </div>
      <div class="col-md-7">
        <div class="d-flex float-end table-responsive">
          <%= paginate @spaces %>
<% if user_signed_in? %>
          <a href="<%= create_space_path %>" class="btn btn-primary d-flex align-items-center text-nowrap">
            <i class="fas fa-folder-plus fa-lg"></i>
            <span class="ms-1">スペース作成</span>
          </a>
<% end %>
        </div>
      </div>
    </div>
<% end %>

<% if @spaces.blank? %>
    <hr/>
    <article>
      スペースが見つかりません。
      <hr/>
    </article>
<% else %>
    <hr class="my-2" />
    <%= render 'lists' %>
<% end %>

    <div class="d-flex justify-content-center table-responsive">
      <%= paginate @spaces %>
    </div>
  </div>
</div>
