<% content_for(:html_title) { t('スペース削除取り消し') } %>

<ul class="nav nav-tabs mb-2">
  <li class="nav-item">
    <%= link_to t('スペース'), space_path(code: @space.code), class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <a data-mdb-toggle="tab" class="nav-link active"><%= t('スペース削除取り消し') %></a>
  </li>
</ul>

<div class="card card-body mb-2" style="max-width: 720px">
  <h5 class="card-title mb-3">
    <%= render 'title', space: @space, current_member: @current_member %>
  </h5>
  <div class="card-text mb-3">
    <p>
      <%= t('スペース削除取り消しメッセージ', date: l(@space.destroy_schedule_at.to_date)) %><br>
<% if @space.destroy_requested_at.present? %>
      <%= t('スペース削除取り消し補足', date: l(@space.destroy_requested_at)) %>
<% end %>
    </p>
    <%= button_to t('取り消し'), undo_destroy_space_path(code: @space.code), data: { turbo_confirm: t('スペース削除取り消し確認メッセージ') }, method: :post, class: 'btn btn-primary' %>
  </div>
  <div class="card-footer pb-0 px-0">
    <nav class="mt-2 mb-0">
      <%= link_to t('スペース設定'), edit_space_path(code: @space.code) %>
    </nav>
  </div>
</div>
