<main class="container">
  <h3 class="pt-3">所属一覧</h3>

<% if @customers.total_count > @customers.limit_value %>
  <div class="row">
    <div class="col-sm-5 d-flex align-items-center">
      <%= page_entries_info @customers %>
    </div>
    <div class="col-sm-7">
      <div class="float-sm-end"><%= paginate @customers %></div>
    </div>
  </div>
<% end %>

  <div class="table-responsive">
    <table class="table table-sm align-middle">
      <thead>
        <tr>
          <th scope="col" nowrap>組織・団体名 <wbr>(コード)</th>
          <th scope="col" nowrap>あなたの権限</th>
          <th scope="col" nowrap>メンバー</th>
          <th scope="col" nowrap>スペース</th>
          <th scope="col" nowrap>作成日▼</th>
        </tr>
      </thead>
      <tbody>
<% if @customers.blank? %>
        <tr>
          <td scope="row" colspan="5" class="text-center">所属先がありません。</td>
        </tr>
<% end %>
<% @customers.each do |customer| %>
        <tr>
          <td scope="row" nowrap><%= link_to customer.name, customer_path(customer.code) %> <wbr>(<%= customer.code %>)</td>
          <td nowrap><%= customer.member.first.power_i18n %></td>
          <td nowrap>
            <%# TODO: 件数 %>
            <%= link_to '一覧', members_path(customer.code), class: 'btn btn-outline-info btn-rounded btn-sm' %>
            <wbr><%= link_to '招待', new_member_path(customer_code: customer.code), class: 'btn btn-outline-primary btn-rounded btn-sm' %>
          </td>
          <td nowrap>
            <%# TODO: 件数 %>
            <%= link_to '一覧', spaces_path, class: 'btn btn-outline-info btn-rounded btn-sm' %><%# TODO: 顧客毎の一覧 %>
            <wbr><%= link_to '作成', new_space_path(customer_code: customer.code), class: 'btn btn-outline-primary btn-rounded btn-sm' %>
          </td>
          <td nowrap><%= l(customer.created_at.to_date) %></td>
        </tr>
<% end %>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col">
      <div class="float-sm-end"><%= paginate @customers %></div>
    </div>
  </div>
</main>
