<h2>所属一覧</h2>

<% if @customers.blank? %>
所属先がありません。
<% else %>
<% if @customers.total_count > @customers.limit_value %>
<p><%= page_entries_info @customers %></p>
<% end %>
<p><%= paginate @customers %></p>
<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>あなたの権限</th>
    </tr>
  </thead>
  <tbody>
<% @customers.each do |customer| %>
    <tr>
      <td><%= customer.name %></td>
      <td>
<% customer.customer_user.each do |customer_user| %>
      <%= customer_user.power %><br/>
<% end %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
<p><%= paginate @customers %></p>
<% end %>
