<main class="container">
  <h3 class="pt-3">顧客一覧</h3>

<% if @customers.total_count > @customers.limit_value %>
  <div class="row">
    <div class="col-sm-5 d-flex align-items-center">
      <%= page_entries_info @customers %>
    </div>
    <div class="col-sm-7">
      <div class="float-sm-end"><%= paginate @customers %></div>
    </div>
  </div>
<% end %>

  <div class="table-responsive">
    <table class="table table-sm align-middle">
      <thead>
        <tr>
          <th scope="col" nowrap>組織・団体名 <wbr>(顧客コード)</th>
          <th scope="col" nowrap>あなたの権限</th>
          <th scope="col" nowrap>登録日▼</th>
        </tr>
      </thead>
      <tbody>
<% if @customers.blank? %>
        <tr>
          <td scope="row" colspan="3" class="text-center">所属先がありません。</td>
        </tr>
<% end %>
<% @customers.each do |customer| %>
        <tr>
          <td scope="row" nowrap><%= link_to customer.name, customer_path(customer.code) %> <wbr>(<%= customer.code %>)</td>
          <td nowrap><%= customer.member.first.power_i18n %></td>
          <td nowrap><%= l(customer.created_at.to_date) %></td>
        </tr>
<% end %>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col">
      <div class="float-sm-end"><%= paginate @customers %></div>
    </div>
  </div>
</main>
