<% validate_enabled = @invitation.errors.any? %>
<%= form_with(model: @invitation, url: update_invitation_path(@space.code, @invitation.code), html: { method: :post, novalidate: true, autocomplete: 'on' }, local: true) do |form| %>
  <div class="row">
    <div class="col-md-2 text-md-end mt-1">
      <%= form.label :created_at, '作成', class: "form-label" %>
    </div>
    <div class="col-md-10">
      <%= l(@invitation.created_at) %>
      <span class="ms-2">
        <%= render './users/avatar', user: @invitation.created_user, present: @invitation.created_user_id.present? %>
      </span>
    </div>
  </div>

<% if @invitation.last_updated_at.present? || @invitation.last_updated_user.present? %>
  <div class="row">
    <div class="col-md-2 text-md-end mt-1">
      <%= form.label :last_updated_at, '更新', class: "form-label" %>
    </div>
    <div class="col-md-10 mb-2">
      <%= l(@invitation.last_updated_at, default: 'N/A') %>
      <span class="ms-2">
        <%= render './users/avatar', user: @invitation.last_updated_user, present: @invitation.last_updated_user_id.present? %>
      </span>
    </div>
  </div>
<% end %>

  <hr />

  <div class="row mt-1">
    <div class="col-md-2 text-md-end">
      <%= form.label :code, '招待URL', class: "form-label" %>
    </div>
    <div class="col-md-10">
      <<%= @invitation.status == :active ? 'u' : 's' %>>
        <%= "#{request.base_url}#{new_user_registration_path}?code=#{@invitation.code}" %>
      </<%= @invitation.status == :active ? 'u' : 's' %>>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col-md-2 text-md-end">
      <%= form.label :email, 'メールアドレス', class: "form-label" %>
    </div>
    <div class="col-md-10">
<% if @invitation.email.present? %>
      <%= @invitation.email %><br>
<% else %>
<% @invitation.domains_array.each do |domain| %>
      *@<%= domain %><br>
<% end %>
<% end %>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col-md-2 text-md-end">
      <%= form.label :power, class: "form-label" %>
    </div>
    <div class="col-md-10">
      <i class="fas <%= power_class_name(@invitation.power) %> text-body"></i>
      <%= @invitation.power_i18n %>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col-md-2 text-md-end mt-1">
      <%= form.label :ended_at, '期限', class: "form-label" %>
    </div>
    <div class="col-md-10 d-flex">
      <div class="<%= input_size_class_name_vertical(validate_enabled, @invitation, :ended_date) %>">
        <%= form.text_field :ended_date, placeholder: 'YYYY/MM/DD', size: '12', autocomplete: 'off', class: " form-control#{validate_class_name(validate_enabled, @invitation, :ended_date)}" %>
        <%= render './users/shared/field_error_messages', messages:  @invitation.errors[:ended_date] %>
      </div>
      <div class="<%= input_size_class_name_vertical(validate_enabled, @invitation, :ended_time) %>">
        <%= form.text_field :ended_time, placeholder: 'HH:MM', size: '6', autocomplete: 'off', class: " form-control#{validate_class_name(validate_enabled, @invitation, :ended_time)}" %>
        <%= render './users/shared/field_error_messages', messages:  @invitation.errors[:ended_time] %>
      </div>
      <div class="ms-2 mt-1">
        <%= Time.current.strftime('%z')[0..2] %>:<%= Time.current.strftime('%z')[3..] %>(<%= Time.current.zone %>)
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 text-md-end mt-1">
      <%= form.label :memo, 'メモ', class: "form-label" %>
    </div>
    <div class="col-md-10">
      <div class="<%= input_size_class_name(@invitation, :memo) %>">
        <%= form.text_field :memo, autocomplete: 'off', class: " form-control#{validate_class_name(validate_enabled, @invitation, :memo)}" %>
        <%= render './users/shared/field_error_messages', messages:  @invitation.errors[:memo] %>
      </div>
    </div>
  </div>

<% if @invitation.status != :expired %>
  <div class="row">
    <div class="col-md-2 text-md-end">
      <%= form.label :memo, '削除', class: "form-label" %>
    </div>
    <div class="col-md-10">
<% if @invitation.destroy_schedule_at.blank? %>
        <div class="form-check">
          <%= form.check_box :delete, class: "form-check-input", checked: @invitation.delete == '1' %>
          <%= form.label :delete, '削除して使用できないようにする', class: 'form-check-label', for: "invitation_delete" %>
        </div>
        <div class="my-1">
          （<%= Settings['invitation_destroy_schedule_days'] %>日後に完全に削除されます。それまでは取り消し可能です）<br>
        </div>
<% else %>
        <div class="form-check">
          <%= form.check_box :undo_delete, class: "form-check-input", checked: @invitation.undo_delete == '1' %>
          <%= form.label :undo_delete, '削除を取り消して使用できるようにする', class: 'form-check-label', for: "invitation_undo_delete" %>
        </div>
        <div class="my-1">
          削除予定: <%= l(@invitation.destroy_schedule_at&.to_date, default: 'N/A') %>（<%= l(@invitation.destroy_requested_at, default: 'N/A') %>に削除を受け付けています）<br>
        </div>
<% end %>
    </div>
  </div>
<% end %>

  <div class="row mt-2">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <%= form.submit '変更', type: 'button', onclick: 'submit()', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
