<% content_for(:html_title) { t('招待URL設定変更') } %>

<%= render '/users/shared/error_messages', resource: @invitation %>

<ul class="nav nav-tabs mb-2">
  <li class="nav-item">
    <%= link_to t('スペース'), space_path(code: @space.code), class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to t('メンバー一覧'), members_path(space_code: @space.code), class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to t('招待URL一覧'), invitations_path(space_code: @space.code), class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <a data-mdb-toggle="tab" class="nav-link active"><%= t('招待URL設定変更') %></a>
  </li>
</ul>

<div class="card card-body mb-2" style="max-width: 850px">
  <h5 class="card-title mb-3">
    <%= render '/spaces/title', space: @space, current_member: @current_member %>
  </h5>
  <div class="card-text mb-3"><%= render 'edit' %></div>
</div>
