<% content_for(:html_title) { "#{t('招待URL一覧')}: #{text_truncate(@space.name, 64)}" } %>

<ul class="nav nav-tabs mb-2">
  <li class="nav-item">
    <%= link_to t('スペース'), space_path(code: @space.code), class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to t('メンバー一覧'), members_path(space_code: @space.code), class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <a data-mdb-toggle="tab" class="nav-link active"><%= t('招待URL一覧') %></a>
  </li>
</ul>

<div class="card card-body mb-2">
  <h5 class="card-title mb-3">
    <%= render '/spaces/title', space: @space, current_member: @current_member %>
  </h5>
  <div class="card-text">
    <div class="row">
      <div class="col-md-5 d-flex align-items-center">
<% if @invitations.present? %>
<% if @invitations.total_count == 1 %>
        <%= t('1件') %>
<% elsif @invitations.total_count <= @invitations.limit_value %>
        <%= t('%{total}件', total: @invitations.total_count.to_formatted_s(:delimited)) %>
<% else %>
        <%= t('%{total}件中 %{start}-%{end}件を表示', total: @invitations.total_count.to_formatted_s(:delimited), start: first_page_number(@invitations), end: last_page_number(@invitations)) %>
<% end %>
<% end %>
      </div>
      <div class="col-md-7">
        <div class="d-flex float-end table-responsive">
          <%= paginate @invitations %>
          <a href="<%= new_invitation_path(space_code: @space.code) %>" class="btn btn-primary text-nowrap">
            <i class="fas fa-clipboard fa-lg"></i>
            <span class="ms-1"><%= t('招待URL作成') %></span>
          </a>
        </div>
      </div>
    </div>

<% if @invitations.blank? %>
    <hr/>
    <article>
      <%= t('対象の%{name}が見つかりません。', name: t('招待URL')) %>
      <hr/>
    </article>
<% else %>
    <hr class="my-2" />
    <%= render 'lists' %>
<% end %>

    <div class="d-flex justify-content-center table-responsive">
      <%= paginate @invitations %>
    </div>
  </div>
</div>
