<h2><%= @customer.name %>のメンバー一覧</h2>

<%= link_to '招待', new_customer_user_path(customer_code: @customer.code) %>

<p><%= page_entries_info @customer_users %></p>
<p><%= paginate @customer_users %></p>
<table>
  <thead>
    <tr>
      <th colspan="2">表示名</th>
      <th>メールアドレス</th>
      <% if @customer.customer_user.first.update_power? %>
        <th colspan="2">権限</th>
      <% else %>
        <th>権限</th>
      <% end %>
      <th>招待日</th>
      <% if @customer.customer_user.first.update_power? %>
        <th colspan="2">登録日</th>
      <% else %>
        <th>登録日</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @customer_users.each do |customer_user| %>
      <tr>
        <td><%= image_tag customer_user.user.image_url(:small) %></td>
        <td><%= customer_user.user.name %></td>
        <td><%= customer_user.user.email %></td>
        <td><%= customer_user.power_i18n %></td>
        <% if @customer.customer_user.first.update_power? %>
          <td><%= link_to '変更', edit_customer_user_path(customer_code: @customer.code, user_code: customer_user.user.code) %></td>
        <% end %>
        <td><%= customer_user.invitationed_at.present? ? l(customer_user.invitationed_at.to_date) : t('blank_word.customer_user.invitationed_at') %></td>
        <td><%= customer_user.registrationed_at.present? ? l(customer_user.registrationed_at.to_date) : t('blank_word.customer_user.registrationed_at') %></td>
        <% if @customer.customer_user.first.update_power? %>
          <td><%= link_to '解除', delete_customer_user_path(customer_code: @customer.code, user_code: customer_user.user.code) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<p><%= paginate @customer_users %></p>
