<h2><%= @customer.name %>のメンバー一覧</h2>

<%= link_to '招待', new_customer_user_path(customer_code: @customer.code) %>

<p><%= page_entries_info @customer_users %></p>
<p><%= paginate @customer_users %></p>
<table>
  <thead>
    <tr>
      <th colspan="2">名前</th>
      <th>メールアドレス</th>
      <th colspan="2">権限</th>
      <th>招待日</th>
      <th colspan="2">登録日</th>
    </tr>
  </thead>
  <tbody>
    <% @customer_users.each do |customer_user| %>
      <tr>
        <td><%= image_tag customer_user.user.image_url(:small) %></td>
        <td><%= customer_user.user.name %></td>
        <td><%= customer_user.user.email %></td>
        <td><%= customer_user.power_i18n %></td>
        <td><%= link_to '変更', edit_customer_user_path(customer_code: @customer.code, id: customer_user.id) %></td>
        <td><%= customer_user.invitationed_at.present? ? l(customer_user.invitationed_at.to_date) : 'なし' %></td>
        <td><%= customer_user.registrationed_at.present? ? l(customer_user.registrationed_at.to_date) : '登録待ち' %></td>
        <td><%= link_to '解除', delete_customer_user_path(customer_code: @customer.code, id: customer_user.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p><%= paginate @customer_users %></p>
