<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @customer_user.customer_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @customer_user.user_id %>
</p>

<p>
  <strong>Power:</strong>
  <%= @customer_user.power %>
</p>

<%= link_to 'Edit', edit_customer_user_path(@customer_user) %> |
<%= link_to 'Back', customer_users_path %>
