<%= render 'admin_users/shared/alert_messages', messages: resource.errors[:reset_password_token] %>

<h2>パスワード再設定</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, local: true) do |form| %>
  <%= render 'admin_users/shared/error_messages', resource: resource unless resource.errors[:reset_password_token].any? %>
  <%= form.hidden_field :reset_password_token %>

  <div class="field">
    <%= form.label :password, '新しいパスワード' %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>文字以上)</em><br/>
    <% end %>
    <%= form.password_field :password, autofocus: true, autocomplete: 'new-password' %>
    <%= render 'admin_users/shared/field_error_messages', messages: resource.errors[:password] %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, '新しいパスワード(確認)' %>
    <%= form.password_field :password_confirmation, autocomplete: 'new-password' %>
    <%= render 'admin_users/shared/field_error_messages', messages: resource.errors[:password_confirmation] %>
  </div>

  <div class="actions">
    <%= form.submit '変更' %>
  </div>
<% end %>
