<% content_for(:html_title) { 'お知らせ' } %>

<div class="card card-body mb-2">
  <h5 class="card-title mb-3">お知らせ</h5>
  <div class="card-text">
<% if @infomations.present? %>
    <div class="row">
      <div class="col-sm-5 d-flex align-items-center">
        <%= page_entries_info @infomations %>
      </div>
      <div class="col-sm-7">
        <div class="float-sm-end">
          <%= paginate @infomations %>
        </div>
      </div>
    </div>
<% end %>

    <hr/>
<% if @infomations.blank? %>
    <article>
      お知らせはありません。
      <hr/>
    </article>
<% end %>
<% @infomations.each do |infomation| %>
    <article>
      <div>
        <%= render 'label', infomation: infomation %>
        <span class="fw-bolder">
<% if infomation.body.present? %>
          <%= link_to infomation.title, infomation %>
<% else %>
          <%= infomation.title %>
<% end %>
        </span>
        <span>
          (<%= l(infomation.started_at.to_date) %>)
        </span>
      </div>
<% if infomation.summary.present? %>
      <div class="m-2">
        <%= infomation.summary.html_safe %>
      </div>
<% end %>
      <hr/>
    </article>
<% end %>

    <div class="d-flex justify-content-center">
      <%= paginate @infomations %>
    </div>
  </div>
</div>
