<% content_for(:html_title) { t('お知らせ') } %>

<div class="card card-body mb-2">
  <h5 class="card-title mb-3"><%= t('お知らせ') %></h5>
  <div class="card-text">
<% if @infomations.present? %>
    <div class="row">
      <div class="col-md-5 d-flex align-items-center">
        <%= page_entries_info @infomations %>
      </div>
      <div class="col-md-7">
        <div class="float-end table-responsive">
          <%= paginate @infomations %>
        </div>
      </div>
    </div>
<% end %>

    <hr/>
<% if @infomations.blank? %>
    <article>
      <%= t('%{name}はありません。', name: t('お知らせ')) %>
      <hr/>
    </article>
<% end %>
    <%= render 'lists' %>

    <div class="d-flex justify-content-center table-responsive">
      <%= paginate @infomations %>
    </div>
  </div>
</div>
