<!DOCTYPE html>
<html>
  <head>
    <title><%= t('app_name') %> Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <h1><%= link_to "#{t('app_name')} Admin", new_admin_user_session_path %></h1>
    <hr/>
<% if alert.present? %>
    <p class="alert"><%= alert %></p>
<% end %>
<% if notice.present? %>
    <p class="notice"><%= notice %></p>
<% end %>

<%= yield %>

<% if Rails.env.development? %>
    <ul>
      <li><%= link_to '[LetterOpenerWeb]', letter_opener_web_path, target: :_blank, rel: [:noopener, :noreferrer] %></li>
      <li><%= link_to '[ActionMailer Preview]', '/rails/mailers', target: :_blank, rel: [:noopener, :noreferrer] %></li>
    </ul>
<% end %>
  </body>
</html>
