<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title><%= "#{t('app_name')} Admin#{Settings['env_name']}" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
    <link rel="stylesheet" href="<%= config.asset_host %>/css/mdb.min.css?v3.1.0" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header style="margin-bottom: 52px">
      <nav class="navbar navbar-light bg-warning fixed-top p-0">
        <div class="container-fluid">
          <a href="<%= new_admin_user_session_path %>" class="navbar-brand">
            <%= t('app_name') %> Admin
            <span class="d-none d-sm-block"><%= Settings['env_name'] %></span>
          </a>
          <nav class="nav align-items-center">
<% unless admin_user_signed_in? %>
            <a href="<%= new_admin_user_session_path %>" class="nav-link d-flex align-items-center link-dark">
              <i class="fas fa-sign-in-alt fa-lg"></i>
              <span class="d-none d-md-block m-1">ログイン</span>
            </a>
<% else %>
            <div class="text-truncate d-none d-lg-block" style="max-width: 400px">
              <%= "current_admin_user.name" %>
            </div>
            <a href="<%= destroy_admin_user_session_path %>" class="nav-link d-flex align-items-center link-dark">
              <i class="fas fa-sign-out-alt fa-lg"></i>
              <span class="d-none d-md-block m-1">ログアウト</span>
            </a>
<% end %>
          </nav>
        </div>
      </nav>
    </header>

    <main class="container-lg">
<% if alert.present? %>
      <aside>
        <p class="note note-danger m-1"><%= alert %></p>
      </aside>
<% end %>
<% if notice.present? %>
      <aside>
        <p class="note note-success m-1"><%= notice %></p>
      </aside>
<% end %>
      <%= yield %>
    </main>

    <footer class="bg-light">
      <div class="text-center p-3">
        Copyright &copy; <%= link_to t('my_name'), t('my_url'), target: :_blank, rel: %i[noopener noreferrer] %> All Rights Reserved.
      </div>
<% if Rails.env.development? %>
      <h5>development</h5>
      <ul>
        <li><%= link_to 'LetterOpenerWeb', letter_opener_web_path %></li>
        <li><%= link_to 'ActionMailer Preview', '/rails/mailers' %></li>
        <li><%= link_to t('app_name'), root_path %></li>
      </ul>
<% end %>
    </footer>
  </body>
  <script type="text/javascript" src="<%= config.asset_host %>/js/mdb.min.js?v3.1.0"></script>
</html>
