<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= content_for?(:html_title) ? yield(:html_title) + ' - ' : '' %><%= "#{t('app_name')} Admin#{t("env_name.#{Settings.server_env}")}" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
    <link rel="stylesheet" href="<%= config.asset_host %>/css/mdb.min.css?v3.1.0" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
<% if Settings.locales.keys.count >= 2 %>
    <%= javascript_import_module_tag 'controllers/switch_locale' %>
<% end %>
  </head>
  <body>
    <header style="margin-bottom: 52px">
      <nav class="navbar navbar-light bg-warning fixed-top p-0">
        <div class="container-fluid">
          <a href="<%= new_admin_user_session_path %>" class="navbar-brand">
            <%= t('app_name') %> Admin
            <span class="d-none d-sm-block"><%= t("env_name.#{Settings.server_env}") %></span>
          </a>
          <nav class="nav align-items-center">
<% unless admin_user_signed_in? %>
            <a href="<%= new_admin_user_session_path %>" class="nav-link d-flex align-items-center link-dark">
              <i class="fas fa-sign-in-alt fa-lg"></i>
              <span class="d-none d-md-block m-1"><%= t('ログイン') %></span>
            </a>
<% else %>
            <div class="text-truncate d-none d-lg-block" style="max-width: 400px">
              <%= "current_admin_user.name" %>
            </div>
            <a href="<%= destroy_admin_user_session_path %>" class="nav-link d-flex align-items-center link-dark">
              <i class="fas fa-sign-out-alt fa-lg"></i>
              <span class="d-none d-md-block m-1"><%= t('ログアウト') %></span>
            </a>
<% end %>
<% if Settings.locales.keys.count >= 2 %>
            <div class="p-2">
              <%= select_tag 'switch_locale', options_for_select(Settings.locales.map { |code, name| [name, code] }, I18n.locale) %>
            </div>
<% end %>
          </nav>
        </div>
      </nav>
    </header>

    <main class="container-lg">
<% if alert.present? %>
      <aside>
        <p class="note note-danger mb-2"><%= alert %></p>
      </aside>
<% end %>
<% if notice.present? %>
      <aside>
        <p class="note note-success mb-2"><%= notice %></p>
      </aside>
<% end %>
      <%= yield %>
    </main>

    <footer class="bg-light">
      <div class="text-center p-3">
        Copyright &copy; <%= link_to t('my_name'), t('my_url'), target: :_blank, rel: %i[noopener noreferrer] %> All Rights Reserved.
      </div>
      <%= render '/layouts/development', admin: true if Rails.env.development? %>
    </footer>
  </body>
  <script type="text/javascript" src="<%= config.asset_host %>/js/mdb.min.js?v3.1.0"></script>
</html>
