<!DOCTYPE html>
<html>
  <head>
    <title><%= t('app_name') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <h1><%= link_to t('app_name'), root_path %></h1>
    <ul>
<% if user_signed_in? %>
      <li><%= current_user.email %></li>
      <li><%= link_to "登録情報変更", edit_user_registration_path %></li>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
<% else %>
      <li><%= link_to "ログイン", new_user_session_path %></li>
      <li><%= link_to "アカウント登録", new_user_registration_path %></li>
<% end %>
    </ul>
    <hr/>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<%= yield %>

    <hr/>
    <p>Copyright &copy; <%= link_to t('my_name'), t('my_url'), target: :_blank, rel: [:noopener, :noreferrer] %> All Rights Reserved.</p>
  </body>
</html>
