<!DOCTYPE html>
<html>
  <head>
    <title><%= t('app_name') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><%= link_to t('app_name'), "//#{Settings['base_domain_link']}" %></h1>
    <ul>
<% if user_signed_in? %>
      <li><%= current_user.email %></li>
      <li><%= link_to t('edit_user'), edit_user_registration_path %></li>
      <li><%= link_to t('log_out'), destroy_user_session_path, method: :delete %></li>
<% else %>
      <li><%= link_to t('log_in'), new_user_session_path %></li>
      <li><%= link_to t('sign_up'), new_user_registration_path %></li>
<% end %>
    </ul>
    <hr/>

<% if @use_space %>
    <h2><%= link_to @use_space.name, root_path %></h2>
    <ul>
      <li><%= link_to 'スペース編集', edit_space_path(@use_space) %></li>
    </ul>
    <hr/>
<% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
