<div class="table-responsive">
<%= form_with(url: @current_member.power_admin? ? destroy_member_path(space_code: @space.code) : '/', html: { method: :post, novalidate: true, autocomplete: 'off' }, data: { turbo: true }) do |form| %>
  <table class="table table-sm table-hover table_members">
    <thead class="table-light">
      <tr>
<% if @current_member.power_admin? %>
        <th scope="col" class="ps-2 pe-0 pt-0 pb-1">
          <button id="delete_btn" type="submit" class="btn btn-light btn-floating" data-turbo-confirm="<%= t('メンバー解除確認メッセージ') %>" disabled>
            <i class="fas fa-trash" data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="<%= t('メンバー解除') %>"></i>
          </button>
        </th>
<% end %>
        <th scope="col" class="text-nowrap"><%= t('メンバー') %></th>
<% if @current_member.power_admin? %>
        <th scope="col" class="text-nowrap">
          <%= t('メールアドレス') %>
          <%= render 'only_icon', power: :admin %>
        </th>
<% end %>
        <th scope="col" class="text-nowrap"><%= t('権限') %></th>
<% if @current_member.power_admin? %>
        <th scope="col" class="text-nowrap">
          <%= t('招待者') %>
          <%= render 'only_icon', power: :admin %>
        </th>
<% end %>
        <th scope="col" class="text-nowrap">
          <%= t('招待日時') %>
          <i class="fas fa-sort-down"></i>
        </th>
<% if @current_member.power_admin? %>
        <th scope="col" class="text-nowrap">
          <%= t('更新者') %>
          <%= render 'only_icon', power: :admin %>
        </th>
        <th scope="col" class="text-nowrap">
          <%= t('更新日時') %>
          <%= render 'only_icon', power: :admin %>
        </th>
<% end %>
      </tr>
    </thead>
    <tbody>
<% @members.each do |member| %>
<% if !@current_member.power_admin? || member == @current_member %>
      <tr class="align-middle">
<% else %>
      <tr class="align-middle<%= ' row_active' if member.user.code == params[:active] %> dblclick_to_link" href="<%= edit_member_path(space_code: @space.code, user_code: member.user.code) %>">
<% end %>
<% if @current_member.power_admin? %>
        <%# (メンバー解除) %>
        <td scope="row" class="justify-content-center ps-3 pe-2 py-2">
          <%= form.check_box "codes[#{member.user.code}]", include_hidden: false, class: 'form-check-input change_to_delete_btn_enabled' %>
        </td>
<% end %>
        <%# メンバー %>
<% if @current_member.power_admin? %>
        <td class="ps-2 pe-1 py-2">
<% else %>
        <td scope="row" class="ps-2 pe-1 py-2">
<% end %>
          <%= render '/users/avatar', user: member.user, present: true %>
        </td>
<% if @current_member.power_admin? %>
        <%# メールアドレス %>
        <td class="px-1 py-2">
          <%= member.user.email %>
        </td>
<% end %>
        <%# 権限 %>
        <td class="text-nowrap px-1 py-2">
<% if @current_member.power_admin? && member != @current_member %>
          <a href="<%= edit_member_path(space_code: @space.code, user_code: member.user.code) %>">
<% end %>
            <i class="fas <%= power_class_name(member.power) %> text-body"></i>
            <%= member.power_i18n %>
<% if @current_member.power_admin? && member != @current_member %>
          </a>
<% end %>
        </td>
<% if @current_member.power_admin? %>
        <%# 招待者 %>
        <td class="<%= 'text-center ' if member.invitationed_user.blank? && member.invitationed_user_id.present? %>px-1 py-2">
          <%= render '/users/avatar', user: member.invitationed_user, present: member.invitationed_user_id.present? %>
        </td>
<% end %>
        <%# 招待日時 %>
        <td class="text-center ps-1 pe-2 py-2">
          <%= l(member.invitationed_at, default: nil) %>
        </td>
<% if @current_member.power_admin? %>
        <%# 更新者 %>
        <td class="<%= 'text-center ' if member.last_updated_user.blank? && member.last_updated_user_id.present? %>px-1 py-2">
          <%= render '/users/avatar', user: member.last_updated_user, present: member.last_updated_user_id.present? %>
        </td>
        <%# 更新日時 %>
        <td class="text-center ps-1 pe-2 py-2">
          <%= l(member.last_updated_at, default: nil) %>
        </td>
<% end %>
      </tr>
<% end %>
    </tbody>
  </table>
<% end %>
</div>
