<%= form_with(url: members_path(@space.code), html: { method: :get, novalidate: true, autocomplete: 'on' }, local: true) do |form| %>
  <div class="d-flex align-items-center">
    <div class="form-outline" style="width: 57%; max-width: 400px">
      <%= form.text_field :text, autocomplete: 'on', class: 'form-control input_to_search_btn_enabled', value: @text, placeholder: "ユーザー名#{'やメールアドレス' if @current_member.power_admin?}を入力" %>
      <%= form.label :text, '検索', class: 'form-label' %>
    </div>
    <button id="search_btn" type="submit" class="btn btn-primary m-1" disabled>
      <i class="fas fa-search"></i>
    </button>
    <%= form.hidden_field :option, value: @option ? 1 : '' %>
    <button
      id="option_btn"
      type="button"
      class="btn btn-light btn-rounded d-flex m-1"
      data-mdb-toggle="collapse"
      data-mdb-target="#searchCollapse"
      aria-expanded="<%= @option %>"
      aria-controls="searchCollapse"
    >
      <i id="option_open" class="fas fa-caret-down fa-lg m-1" style="display: <%= @option ? 'none' : 'block' %>"></i>
      <i id="option_close" class="fas fa-caret-up fa-lg m-1"  style="display: <%= @option ? 'block' : 'none' %>"></i>
      <span class="d-none d-md-block">検索オプション</span>
    </button>
  </div>
  <div id="searchCollapse" class="collapse<%= ' show' if @option %>">
    <div class="row">
      <div class="col-auto d-flex mt-2">
        <div>権限:</div>
<% Member.powers.each do |key, value| %>
        <div class="form-check ms-2">
          <%= form.check_box "power[#{key}]", checked: @power[value], class: 'form-check-input click_to_search_btn_enabled' %>
          <%= form.label "power[#{key}]", Member.powers_i18n[key], class: 'form-check-label', for: "power[#{key}]" %>
        </div>
<% end %>

      </div>
    </div>
  </div>
<% end %>
