<main class="card" style="max-width: 640px; margin-left: auto; margin-right: auto">
  <div class="card-body">
    <h5 class="card-title"><%= @customer.name %>のメンバー解除</h5>
    <p class="card-text">

<% if @member.registrationed_at.present? %>
      <div class="mb-3">
        <span class="font-weight-bold">氏名:</span> <%= image_tag @member.user.image_url(:small) %> <%= @member.user.name %>
      </div>
<% else %>
      <div class="note note-info mb-3">
        登録待ちのメンバーです。
      </div>
<% end %>

      <div class="mb-3">
        <span class="font-weight-bold">メールアドレス:</span> <%= @member.user.email %>
      </div>

      <div class="mb-3">
        <span class="font-weight-bold">権限:</span> <%= @member.power_i18n %>
      </div>

      <p><%= button_to '解除', member_path(customer_code: @customer.code, user_code: @member.user.code), data: { confirm: '本当に解除しますか？' }, method: :delete, class: 'btn btn-danger' %></p>
    </p>
    <p class="card-footer"><%= render 'links' %></p>
  </div>
</main>
