<% content_for(:html_title) { "#{text_truncate(@space.name, 64)}のメンバー" } %>

<ul class="nav nav-tabs mb-2">
  <li class="nav-item">
    <%= link_to 'スペース', space_path(@space.code), class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <a data-mdb-toggle="tab" class="nav-link active">メンバー一覧</a>
  </li>
</ul>

<div class="card card-body mb-2">
  <h5 class="card-title mb-3">
    <%= render './spaces/title', space: @space, current_member: @current_member, suffix_title: 'のメンバー' %>
  </h5>
  <div class="card-text">
    <div class="row">
      <div class="col-sm-10">
        <%= render 'search' %>
      </div>
<% if @current_member.power_admin? %>
      <div class="col-sm-2">
        <div class="float-end mt-2">
          <a href="<%= new_member_path(@space.code) %>" class="btn btn-primary text-nowrap">
            <i class="fas fa-user-plus"></i>
            メンバー招待
          </a>
        </div>
      </div>
<% end %>
    </div>
  </div>
</div>

<div class="card card-body mb-2">
  <div class="card-text">
<% if @members.present? %>
    <div class="row">
      <div class="col-md-5 d-flex align-items-center">
        <%= "#{@members.total_count.to_s(:delimited)}名" %><%= "中 #{first_page_number(@members)}-#{last_page_number(@members)}名を表示" if @members.total_count > @members.limit_value %>
      </div>
      <div class="col-md-7">
        <div class="d-flex float-end table-responsive">
          <%= paginate @members %>
<% if @current_member.power_admin? %>
          <a href="<%= create_download_path({ model: :member, space_code: @space.code, search_params: request.query_parameters }) %>" class="btn btn-dark d-flex align-items-center text-nowrap click_to_redirect_add_codes">
            <i class="fas fa-download"></i>
            <span class="d-none d-md-block ms-1">ダウンロード</span>
          </a>
<% end %>
        </div>
      </div>
    </div>
<% end %>

<% if @members.blank? %>
    <hr/>
    <article>
      対象のメンバーが見つかりません。
      <hr/>
    </article>
<% else %>
    <hr class="my-2" />
    <%= render 'lists' %>
<% end %>

    <div class="d-flex justify-content-center table-responsive">
      <%= paginate @members %>
    </div>
  </div>
</div>
