<% content_for(:html_title) { "#{text_truncate(@space.name, 64)}のメンバー" } %>

<div class="card card-body mb-2">
  <h5 class="card-title mb-3">
    <%= image_tag @space.image_url(:small), class: 'rounded-circle' %>
    <span class="ms-1">
      <%= text_truncate(@space.name, 64) %>のメンバー
    </span>
    <%= render 'spaces/icon', space: @space, current_member: @current_member %>
  </h5>
  <div class="card-text">
    <%= render 'search' %>
  </div>
</div>

<div class="card card-body mb-2">
  <div class="card-text">
<% if @members.present? %>
    <div class="row">
      <div class="col-sm-5 d-flex align-items-center">
        <%= "#{@members.total_count.to_s(:delimited)}名" %><%= "中 #{first_page_number(@members)}-#{last_page_number(@members)}名を表示" if @members.total_count > @members.limit_value %>
      </div>
      <div class="col-sm-7">
        <div class="float-sm-end">
          <%= paginate @members %>
        </div>
      </div>
    </div>
<% end %>

<% if @members.blank? %>
    <hr/>
    <article>
      対象のメンバーが見つかりません。
      <hr/>
    </article>
<% else %>
    <hr class="my-2" />
    <div class="table-responsive">
      <table class="table table-sm table-hover">
        <thead class="table-light">
          <tr>
            <th scope="col" class="text-nowrap">ユーザー名</th>
<% if @current_member.power_admin? %>
            <th scope="col" class="text-nowrap">
              メールアドレス
              <%= render 'only_icon', power: :admin %>
            </th>
<% end %>
            <th scope="col" class="text-nowrap">権限</th>
<% if @current_member.power_admin? %>
            <th scope="col" class="text-nowrap">
              招待者
              <%= render 'only_icon', power: :admin %>
            </th>
<% end %>
            <th scope="col" class="text-nowrap">
              招待日時
              <i class="fas fa-sort-down"></i>
            </th>
          </tr>
        </thead>
        <tbody>
<% @members.each do |member| %>
          <tr class="align-middle">
            <td scope="row" class="px-1 py-2">
              <%= image_tag member.user.image_url(:small), class: 'rounded-circle' %>
              <span class="ms-1">
                <%= text_truncate(member.user.name, 32) %>
              </span>
            </td>
<% if @current_member.power_admin? %>
            <td class="px-1 py-2">
              <%= member.user.email %>
            </td>
<% end %>
            <td class="text-nowrap px-1 py-2">
              <i class="fas <%= power_class_name(member.power) %>"></i>
              <%= member.power_i18n %>
            </td>
<% if @current_member.power_admin? %>
            <td class="px-1 py-2">
<% if member.invitation_user.present? %>
              <%= image_tag member.invitation_user.image_url(:small), class: 'rounded-circle' %>
              <span class="fw-bolder ms-1">
                <%= text_truncate(member.invitation_user.name, 32) %>
              </span>
<% end %>
            </td>
<% end %>
            <td class="text-nowrap px-1 py-2">
<% if member.invitationed_at.present? %>
              <%= l(member.invitationed_at) %>
<% end %>
            </td>
          </tr>
<% end %>
        </tbody>
      </table>
    </div>
<% end %>

    <div class="d-flex justify-content-center">
      <%= paginate @members %>
    </div>
  </div>
</div>
