<% validate_enabled = action_name == 'image_update' && resource.errors.any? %>
<%= form_for(resource, as: resource_name, url: update_user_image_registration_path, html: { method: :post, novalidate: true, id: 'edit_image' }, local: true) do |form| %>
  <div>
    <%= image_tag current_user.image_url(:xlarge) %>
  </div>

  <div class="form-outline<%= input_size_class_name(resource, :image) %>">
    <%= form.file_field :image, class: "form-control#{validate_class_name(validate_enabled, resource, :image)}" %>
    <%= render 'users/shared/field_error_messages', messages: resource.errors[:image] %>
  </div>

  <%= form.submit 'アップロード', class: "btn btn-primary mb-3" %>
<% end %>
<%= button_to '画像削除', delete_user_image_registration_path, data: { confirm: '本当に削除しますか？' }, method: :delete, class: 'btn btn-warning mb-4', disabled: !current_user.image? %>
