<% content_for(:html_title) { 'アカウント削除' } %>

<div class="card card-body mb-2" style="max-width: 640px">
  <h5 class="card-title mb-3"><%= t('アカウント削除') %></h5>
  <div class="card-text mb-3">
    <p>
      <%= t('アカウント削除メッセージ', days: Settings.user_destroy_schedule_days) %><br>
      <%= t('アカウント削除補足') %>
    </p>
    <%= button_to t('削除'), destroy_user_registration_path, data: { turbo_confirm: t('アカウント削除確認メッセージ') }, method: :post, class: 'btn btn-danger' %>
  </div>
  <div class="card-footer pb-0 px-0">
    <ul class="mt-2 mb-0">
      <li><%= link_to t('ユーザー情報'), edit_user_registration_path %></li>
    </ul>
  </div>
</div>
