<%= render 'users/shared/error_messages', resource: resource %>

<main class="card mb-1" style="max-width: 850px; margin-left: auto; margin-right: auto">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h5 class="card-title">登録情報変更</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= render 'edit_image' %>
      </div>
      <div class="col-md-8">
        <%= render 'edit_user' %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="card-footer">
          <nav>
            <ul>
<% if devise_mapping.confirmable? && resource.pending_reconfirmation? && valid_confirmation_token? %>
              <li><%= link_to 'メールアドレス確認', new_confirmation_path(resource_name) %></li>
<% end %>
              <li><%= link_to 'アカウント削除', users_delete_path %></li>
            </ul>
          </nav>
        </p>
      </div>
    </div>
  </div>
</main>
